.topContainer{
   
    background: url('../../assets/IMG20220326221713.jpg');

    height: 100vh;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);
}

@media (max-width: 1200px) {
    .topContainer{
       
        background-position: 60%;
        height: 100vh;
     
    

     }
    
   
}



@media (max-width: 768px) {

    .topContainer{
       
        background-position: 61%;
        height: 100vh;
     
    

     }
    

}

@media (max-width: 480px) {
    
}