.gallery{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 200px 0 200px;
   
    height: 100vh;
  }

  .gallery h1{
    padding-bottom: 20px;
  }

  .gallery__container{
  max-width: 768px;
  width: 80%;
   
  } 
  .slick-slide img{
    width: 100%;
  }
  /* .gallery__container>img{
    text-align: center;
  } */

  .slick-dots  button:before {
    opacity: 1;
    color: #ffffff;
}

.slick-dots li.slick-active button:before{
   color:#f64c08 !important;
   opacity: 1 !important;

}

.slick-dots li button::before{
    color: #f64c08 !important;
   
}

.slick-prev:before, .slick-next:before {
   
    color: #f64c08 !important;
   
}


.slick-dots li button:before{
    margin-top: 7px;
    font-size: 10px !important;
}


@media (max-width: 1200px) {
   
   
}



@media (max-width: 768px) {
    
 .gallery{ 
  margin: 0px 0 0px;
 }
}

@media (max-width: 480px) {
    
}