@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.experience{
    display: flex;
    flex-direction: column;
    border: 2px dotted white;
    border-radius: 10px;
    width: 200px;
    height: 150px;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
}

.experience >p{
    font-family: 'Joesfin Sas', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

@media (max-width: 1200px) {


    .experience {
        width: 150px;
        height: 150px;
        text-align: center;
      
    }

    .experience >h1{
        font-size: 28px;

    }
    .experience >p{
       
        font-size: 15px;
       
    }
}



@media (max-width: 768px) {
    

}

@media (max-width: 480px) {
    
}